Repository osmlab/name-suggestion-index, pull requests merged in 2020-10, with the labels that each got.

#4414 Added Eurobahn to Transit
  data/transit/route/train.json
Labels: add transit

#4386 Train networks A-C
  data/transit/route/train.json
Labels: add transit

#4389 Updated VyBus
  data/transit/route/bus.json
Labels: add transit

#4408 add NordWestBahn
  data/brands/amenity/fast_food.json
  data/transit/route/train.json
Labels: add transit

#4384 Remove name from UK Post Office entry
  data/brands/amenity/post_office.json
Labels: considering

#4430 Add FlixBus + fix A-Welle and Filsland MV
  data/transit/route/bus.json
Labels: add transit

#4423 Add Wikipedia, Wikidata and network GUID to MVV and VVS
  data/transit/route/bus.json
  data/transit/route/light_rail.json
  data/transit/route/subway.json
  data/transit/route/train.json
  data/transit/route/tram.json
Labels: add transit

#4446 Added Westfalenbahn to Transit
  data/transit/route/train.json
Labels: add transit

#4442 Added "Berrys Coaches" to bus.json
  data/transit/route/bus.json
Labels: add transit

#4444 Add missing brand in indonesia
  data/brands/amenity/fuel.json
  data/brands/shop/convenience.json
  data/brands/shop/hardware.json
  data/brands/shop/outdoor.json
  data/brands/tourism/hotel.json
Labels: add brand

#4479 Added Angus and Coote to jewellery
  data/brands/shop/jewelry.json
Labels: add brand

#4480 Added Metro Trains Melbourne to transit
  data/transit/route/train.json
Labels: add transit

#4481 Added V/Line to transit
  data/transit/route/train.json
Labels: add transit

#4482 Added Yarra Trams to transit
  data/transit/route/tram.json
Labels: add transit

#4524 shop supermarket add 'Intermarché Express'
  data/brands/shop/supermarket.json
Labels: check local, considering

#4565 Fix location of Norwegian Extra, add Brazilian Extra supermarket and convenience
  data/brands/shop/convenience.json
  data/brands/shop/supermarket.json
Labels: considering, needs research

#4567 Improve Ipercoop and add Coop brand
  data/brands/shop/supermarket.json
Labels: needs research

#4256 Country coder supports GB-SCT so use that directly
  CONTRIBUTING.md
  README.md
  features/scotland.geojson
Labels: hacktoberfest-accepted

#4257 Make GB transit location sets more specific
  data/transit/route/subway.json
  data/transit/route/train.json
  data/transit/route/tram.json
Labels: hacktoberfest-accepted
