Repository osmlab/name-suggestion-index, pull requests merged in 2024-09, with the labels that each got.

#9857 Update convenience.json : add My Auchan
  data/brands/shop/convenience.json
Labels: add brand

#9872 Update hostel.json : add The People
  data/brands/tourism/hostel.json
Labels: add brand

#9895 Update supermarket.json : add Biomonde
  data/brands/shop/supermarket.json
Labels: add brand

#9909 Add Oslo kommune as a kindergarten operator
  data/operators/amenity/kindergarten.json
Labels: add operator

#9910 Add KeyStore
  data/brands/shop/convenience.json
Labels: add brand

#9901 Update bakery.json : add 6 French shops
  data/brands/shop/bakery.json
Labels: add brand

#9908 Update BKK and Eviny power companies
  data/operators/power/generator.json
  data/operators/power/line.json
  data/operators/power/plant.json
Labels: fix data

#9902 add Belgian chain goed
  data/brands/amenity/pharmacy.json
  data/brands/shop/medical_supply.json
Labels: add brand

#9896 Update convenience.json : add day by day
  data/brands/shop/convenience.json
Labels: add brand

#9915 Add 3 French restaurants & 1 French fast_food
  data/brands/amenity/fast_food.json
  data/brands/amenity/pub.json
  data/brands/amenity/restaurant.json
Labels: add brand

#9897 Update outdoor.json : add Ekosport & Espace Montagne
  data/brands/shop/outdoor.json
Labels: add brand

#9920 [brand/shop/convenience][avocado] add wikidata and en name
  data/brands/shop/convenience.json
Labels: add brand

#9930 add "matchNames" in club=scout
  data/brands/club/scout.json
Labels: enhancement

#9936 Update houseware.json : Add Du bruit dans la cuisine
  data/brands/shop/houseware.json
Labels: add brand

#9899 Remove Balíkomat, doesn't exists anymore
  data/brands/amenity/parcel_locker.json
Labels: defunct brand

#9955 BikeAway locker access
  data/operators/amenity/bicycle_parking.json
Labels: fix data

#9956 Add hairdresser=barber to UK barber shop brands
  data/brands/shop/hairdresser.json
Labels: fix data

#9953 Add Super Vero
  data/brands/shop/supermarket.json
Labels: add brand

#9974 Add 2 brands in Hong Kong
  data/brands/shop/beverages.json
  data/brands/shop/health_food.json
Labels: add brand

#9976 Add Hotshots Sports Bar and Grill
  data/brands/amenity/restaurant.json
Labels: add brand

#9924 [convenience] improve Panier Sympa information
  data/brands/shop/convenience.json
Labels: enhancement

#9952 Tempo rebranded to Mega Maxi
  data/brands/shop/supermarket.json
Labels: fix data

#9962 Corrected tags of `AlzaBox` parcel locker
  data/brands/amenity/parcel_locker.json
Labels: fix data

#9970 Remove name and short_name from Tesla SuC
  data/brands/amenity/charging_station.json
Labels: fix data

#9961 Merged two versions of `BKK-automata` (TVM)
  data/brands/amenity/vending_machine.json
Labels: fix data

#9900 Change Česká pošta name in man_made=surveillance to same as in amenit…
  data/operators/man_made/surveillance.json
Labels: fix data, needs discussion

#9989 Add supermarkets in Ghana
  data/brands/shop/supermarket.json
Labels: add brand, needs discussion

#9947 Add Westport Public Schools
  data/operators/amenity/school.json
Labels: needs discussion, add operator
