Repository osmlab/name-suggestion-index, pull requests merged in 2024-10, with the labels that each got.

#9875 Add Taiwanese brands 添加多個臺灣品牌
  data/brands/amenity/fast_food.json
  data/brands/amenity/fuel.json
  data/brands/amenity/restaurant.json
  data/brands/shop/books.json
  data/brands/shop/supermarket.json
  data/brands/shop/variety_store.json
  data/brands/tourism/hotel.json
Labels: add brand

#10012 Add TCAT (Tompkins Consolidated Area Transit)
  data/transit/route/bus.json
Labels: add transit

#10013 [brands/shop/supermarket] add Ribola (HR)
  data/brands/shop/supermarket.json
Labels: add brand

#9860 Bike Tower
  data/brands/amenity/bicycle_parking.json
Labels: add brand, new category

#10031 Zest charging stations
  data/operators/amenity/charging_station.json
Labels: add operator

#10050 Add Lova Yatak Turkish furniture brand in the same company as Kelebek
  data/brands/shop/bed.json
Labels: add brand

#10054 OVS extended to all Europe and added OVS Kids
  data/brands/shop/clothes.json
Labels: question, add brand, fix data

#10058 Added several shops and amenities in Austria and Italy
  data/brands/amenity/bank.json
  data/brands/amenity/restaurant.json
  data/brands/shop/bakery.json
  data/brands/shop/clothes.json
  data/brands/shop/health_food.json
  data/brands/shop/hearing_aids.json
  data/brands/shop/jewelry.json
  data/brands/shop/optician.json
  data/brands/shop/telecommunication.json
  data/operators/amenity/post_office.json
Labels: add brand

#10061 Fix wikidata value for "Drei" and "Dorotheum Juwelier" and added two further chains (Roma, Blumen B&B)
  data/brands/shop/florist.json
  data/brands/shop/hairdresser_supply.json
  data/brands/shop/jewelry.json
  data/brands/shop/telecommunication.json
Labels: add brand, waitfor

#10073 M&S Food supermarket brand
  data/brands/shop/supermarket.json
Labels: add brand

#10087 Add TRAFIKON
  data/brands/shop/tobacco.json
Labels: add brand

#10078 fix Landi type
  data/brands/shop/country_store.json
  data/brands/shop/supermarket.json
Labels: fix data

#10065 Add MDTA AET
  data/operators/highway/toll_gantry.json
Labels: add operator

#10070 Add ÖoB, correct Rusta location set
  data/brands/shop/variety_store.json
Labels: add brand, fix data

#10080 Add Sodiê Doces
  data/brands/shop/pastry.json
Labels: add brand

#10081 Include ese O ese stores
  data/brands/shop/clothes.json
Labels: add brand

#10094 Hopper Coffee
  data/brands/amenity/cafe.json
Labels: add brand

#10106 add viewport meta tag for mobile
  docs/index.html
Labels: nsi.guide

#10057 Added 4 known retail chains - Monginis, The Sugarr & Spice, Khadim, Arambagh Foodmart
  data/brands/shop/bakery.json
  data/brands/shop/convenience.json
  data/brands/shop/pastry.json
  data/brands/shop/shoes.json
Labels: add brand

#10069 add "preserveTags": ["^name"] to co-operative companies; fix issue #10060
  data/brands/amenity/bank.json
  data/brands/shop/sports.json
  data/brands/shop/supermarket.json
Labels: fix data

#10105 Update bus.json/substation.json
  data/operators/power/substation.json
  data/transit/route/bus.json
Labels: fix data

#10072 Remove Mobile Money brand from money_transfer.json
  data/brands/amenity/money_transfer.json
Labels: fix data
