Repository osmlab/name-suggestion-index, pull requests merged in 2024-12, with the labels that each got.

#10182 Extend Interspar `locationSet` to `hu` & `si`
  data/brands/shop/supermarket.json
Labels: locationSet

#10195 Update doctors.json : Add Point Vision
  data/brands/amenity/doctors.json
Labels: add brand

#10174 [shop/car][Daihatsu] add worldwide entry
  data/brands/shop/car.json
Labels: add brand

#10220 MPL parcel locker: sync tags with Wiki
  data/brands/amenity/parcel_locker.json
Labels: fix data

#10214 Added mobile_phone_accessories.json with "La Casa de las Carcasas"
  data/brands/shop/mobile_phone_accessories.json
Labels: add brand, new category, needs discussion

#10219 Add school operators in Hong Kong
  data/operators/amenity/school.json
Labels: add operator

#10231 Add clothes brands in Hong Kong
  data/brands/shop/clothes.json
Labels: add brand

#10234 Add Brand MD Now Urgent Care
  data/brands/amenity/clinic.json
Labels: add brand

#10237 Add Mediprix brand on pharmacy.json
  data/brands/amenity/pharmacy.json
Labels: add brand

#10256 #10186 Fix cuisine for Stolle
  data/brands/amenity/cafe.json
Labels: fix data

#10258 Added Italian Findomestic money lender
  data/brands/shop/money_lender.json
Labels: add brand

#10172 Update parcel_locker.json
  data/brands/amenity/parcel_locker.json
Labels: fix data

#10262 Add Taiwanese brands (新增臺灣的品牌): 能量小姐, 三顧茅廬, 八曜和茶
  data/brands/amenity/cafe.json
  data/brands/amenity/restaurant.json
Labels: question, add brand

#10272 Update pipeline in Hong Kong
  data/operators/man_made/pipeline.json
Labels: fix data, add operator
