Repository osmlab/name-suggestion-index, pull requests merged in 2024-11, with the labels that each got.

#10076 Poczta Polska is branded, no need for operator tag
  data/brands/amenity/post_office.json
  data/operators/amenity/post_office.json
Labels: fix data

#10133 Update laundry.json
  data/brands/shop/laundry.json
Labels: fix data

#9891 Update of location for charging station Eldrive
  data/operators/amenity/charging_station.json
Labels: locationSet, needs discussion

#10032 Add Taiwanese police bureaus, government agencies, brands, and Jewel cafe (新增臺灣的警局、政府機關、品牌、還有世界性的 Jewel cafe)
  data/brands/amenity/cafe.json
  data/brands/amenity/fast_food.json
  data/brands/amenity/restaurant.json
  data/brands/shop/jewelry.json
  data/brands/shop/laundry.json
  data/brands/shop/supermarket.json
  data/operators/amenity/fire_station.json
  data/operators/amenity/library.json
  data/operators/amenity/police.json
Labels: add brand, add operator

#9944 Add Ghana fuel stations
  data/brands/amenity/fuel.json
Labels: add brand, needs discussion

#10146 Add Mie Gacoan
  data/brands/amenity/restaurant.json
Labels: add brand

#10132 Preserve `name=*` tags of CBA & Reál convenience stores
  data/brands/shop/convenience.json
Labels: fix data, needs discussion

#10143 Add Optimum to shop/telecommunication
  data/brands/shop/telecommunication.json
Labels: add brand

#10147 feat: Add PostNord parcel locker
  data/brands/amenity/parcel_locker.json
Labels: add brand

#10142 Update hotel.json
  data/brands/tourism/hotel.json
Labels: fix data

#10145 Update phone.json
  data/operators/emergency/phone.json
Labels: fix data

#10137 Update ticket_validator.json - change to WSW mobil GmbH
  data/operators/amenity/ticket_validator.json
Labels: fix data

#10131 easybox parcel locker: merge countries, remove operator & brand, add payment info
  data/brands/amenity/parcel_locker.json
Labels: tagging, fix data, needs discussion

#10177 Remove name tag from Little Free Library
  data/brands/amenity/public_bookcase.json
Labels: fix data

#10169 Anytime Fitness is open 24/7
  data/brands/leisure/fitness_centre.json
Labels: tagging, needs discussion
