Repository osmlab/name-suggestion-index, pull requests merged in 2025-05, with the labels that each got.

#10817 [shop/hardware] add BMR
  data/brands/shop/hardware.json
Labels: needs research, add brand, needs discussion

#10745 [shop/clothes] add OCHNIK
  data/brands/shop/clothes.json
Labels: needs research, add brand

#10614 Adding official name for Rapid City SD school district and adding Sioux Falls SD school district
  data/operators/amenity/school.json
Labels: tagging, needs discussion, add operator

#10651 change operator name of ÜSTRA in GVH to be the currently used one
  data/transit/route/tram.json
Labels: fix data

#10936 Add Puccino's
  data/brands/amenity/cafe.json
Labels: add brand

#10795 [shop/convenience] add Needs Convenience
  data/brands/shop/convenience.json
Labels: add brand, needs discussion

#10918 [brands/amenity/vending_machine.json] Add "Falomat"
  data/brands/amenity/vending_machine.json
Labels: needs research, add brand, notability

#10945 Add 'name' preserveTags to pharmacies
  data/brands/amenity/pharmacy.json
Labels: tagging

#10948 [amenity/fuel] add Autotrans
  data/brands/amenity/fuel.json
Labels: add brand, tagging

#10959 Remove London from Honest Greens locations
  data/brands/amenity/restaurant.json
Labels: locationSet

#10819 [amenity/restaurant] add Bento Sushi
  data/brands/amenity/restaurant.json
Labels: needs research, add brand, needs discussion

#10950 Adding many Mexican items II
  data/brands/amenity/bureau_de_change.json
  data/brands/amenity/restaurant.json
  data/brands/shop/bed.json
  data/brands/shop/clothes.json
  data/brands/shop/craft.json
  data/brands/shop/laundry.json
  data/brands/shop/perfumery.json
  data/brands/shop/stationery.json
  data/brands/shop/supermarket.json
Labels: multiple companies

#10675 Add 9 more locations to Mixue ice cream café
  data/brands/amenity/cafe.json
Labels: needs research, locationSet, fix data

#10679 [route/bus] add Hop Bus
  data/transit/route/bus.json
Labels: add transit

#10947 Added new countries for Mix Markt
  data/brands/shop/supermarket.json
Labels: locationSet

#10958 Spain features (provinces and autonomous communities)
  features/es/ES-A.geojson
  features/es/ES-AB.geojson
  features/es/ES-AL.geojson
  features/es/ES-AV.geojson
  features/es/ES-B.geojson
  features/es/ES-BA.geojson
  features/es/ES-BI.geojson
  features/es/ES-BU.geojson
  features/es/ES-C.geojson
  features/es/ES-CA.geojson
  features/es/ES-CC.geojson
  features/es/ES-CO.geojson
  features/es/ES-CR.geojson
  features/es/ES-CS.geojson
  features/es/ES-CU.geojson
  features/es/ES-GI.geojson
  features/es/ES-GR.geojson
  features/es/ES-GU.geojson
  features/es/ES-H.geojson
  features/es/ES-HU.geojson
  features/es/ES-J.geojson
  features/es/ES-L.geojson
  features/es/ES-LE.geojson
  features/es/ES-LO.geojson
  features/es/ES-LU.geojson
  features/es/ES-M.geojson
  features/es/ES-MA.geojson
  features/es/ES-MU.geojson
  features/es/ES-NA.geojson
  features/es/ES-O.geojson
  features/es/ES-OR.geojson
  features/es/ES-P.geojson
  features/es/ES-PO.geojson
  features/es/ES-S.geojson
  features/es/ES-SA.geojson
  features/es/ES-SE.geojson
  features/es/ES-SG.geojson
  features/es/ES-SS.geojson
  features/es/ES-T.geojson
  features/es/ES-TE.geojson
  features/es/ES-TO.geojson
  features/es/ES-V.geojson
  features/es/ES-VI.geojson
  features/es/ES-Z.geojson
  features/es/ES-ZA.geojson
  features/es/README.MD
Labels: enhancement

#10957 Regions in public transport networks of Spain
  data/brands/amenity/bicycle_rental.json
  data/transit/route/bus.json
  data/transit/route/ferry.json
  data/transit/route/light_rail.json
  data/transit/route/subway.json
  data/transit/route/train.json
  data/transit/route/tram.json
  data/transit/route/trolleybus.json
Labels: locationSet

#9736 Remove Serbian Railways as it's a holding company
  data/operators/route/railway.json
Labels: check local, needs discussion

#10994 add India1 ATM, Frank Ross Pharmacy and Davaindia Generic Pharmacy
  data/brands/amenity/atm.json
  data/brands/amenity/pharmacy.json
Labels: multiple companies, add brand
