Repository osmlab/name-suggestion-index, pull requests merged in 2025-03, with the labels that each got.

#10598 Split Vienna Hotels
  data/brands/tourism/hotel.json
Labels: add brand, fix data

#10578 [shop/electronics] add Harvey Norman
  data/brands/shop/electronics.json
Labels: needs research, locationSet, tagging

#10379 Update Mavis Tire Brake to car service center from tire store
  data/brands/shop/car_repair.json
  data/brands/shop/tyres.json
Labels: fix data, needs discussion

#10603 [amenity/cafe] expand locationSets of Chagee and ChaTraMue
  data/brands/amenity/cafe.json
Labels: needs research, locationSet

#10636 Updated KFC entry with alt_name:vi as 'Gà Rán Kentucky
  data/brands/amenity/fast_food.json
Labels: tagging

#10526 add hotel brand "Rixos"
  data/brands/tourism/hotel.json
Labels: add brand

#10401 Update Korean cafe and convenience chains
  data/brands/amenity/cafe.json
  data/brands/shop/convenience.json
Labels: add brand, tagging, fix data

#10456 Added Teahouse chain.
  data/brands/amenity/cafe.json
  data/brands/shop/convenience.json
Labels: add brand

#10604 [amenity/fast_food] add A&W Malaysia
  data/brands/amenity/fast_food.json
Labels: add brand, needs discussion

#10609 Rename Swisslion to Slatka kuca
  data/brands/shop/confectionery.json
  data/brands/shop/supermarket.json
Labels: tagging, fix data

#10306 Correct `parcel_locker`s and add `hu` versions
  data/brands/amenity/parcel_locker.json
Labels: fix data

#10626 add Sydney Water as operator for man_made=pumping_station,water_tower
  data/operators/man_made/pumping_station.json
  data/operators/man_made/water_tower.json
Labels: add operator

#10650 Rosslyn coffee shops in London
  data/brands/amenity/cafe.json
Labels: add brand, notability

#10611 Add Rush
  data/brands/shop/hairdresser.json
Labels: add brand

#10388 Add brand or franchise mentioned in #10323 (添加 #10323 提到的機構)
  data/brands/amenity/bicycle_rental.json
  data/brands/amenity/cafe.json
  data/brands/amenity/fast_food.json
  data/brands/amenity/parking.json
  data/brands/amenity/prep_school.json
  data/brands/amenity/restaurant.json
  data/brands/shop/beauty.json
  data/brands/shop/clothes.json
  data/brands/shop/optician.json
  data/brands/shop/outdoor.json
  data/brands/shop/shoes.json
  data/brands/shop/telecommunication.json
  data/operators/amenity/community_centre.json
Labels: add brand, fix data

#10359 add Royal Rangers in brands/club/scout
  data/brands/club/scout.json
Labels: locationSet, add brand

#10661 Add more Swedish shop brands
  data/brands/shop/craft.json
  data/brands/shop/doityourself.json
  data/brands/shop/electronics.json
  data/brands/shop/jewelry.json
  data/brands/shop/mobile_phone.json
  data/brands/shop/pet.json
  data/brands/shop/sports.json
Labels: multiple companies, add brand

#10378 Remove any related multilingual keys from templates
  lib/file_tree.js
Labels: javascript

#10414 Remove `short`, `alt`, `official` and `full` names from ATMs
  data/brands/amenity/atm.json
Labels: enhancement

#10644 Updated Spanish fuel stations
  data/brands/amenity/fuel.json
Labels: fix data

#10684 Add Craft Union GB [Over 600 pubs]
  data/brands/amenity/pub.json
Labels: add brand

#10649 More Mathnasium locations
  data/brands/amenity/prep_school.json
Labels: locationSet

#10672 Add Luna
  data/brands/shop/clothes.json
Labels: add brand, waitfor

#10150 Merge duplicated Yves Rocher
  data/brands/shop/beauty.json
  data/brands/shop/cosmetics.json
Labels: tagging, fix data, needs discussion

#10674 Update operator and network tags of tram routes in Lodz and add similar one item to buses
  data/transit/route/bus.json
  data/transit/route/tram.json
Labels: fix data, add transit

#10761 More Lululemon countries
  data/brands/shop/clothes.json
Labels: locationSet

#10717 Add LKQ Pick Your Part to operator/landuse/industrial
  data/brands/landuse/industrial.json
Labels: add operator

#10758 Update restaurant.json - Wrong key value 'bar&grill' (tag cuisine)
  data/brands/amenity/restaurant.json
Labels: tagging

#10766 Lululemon China location
  data/brands/shop/clothes.json
Labels: locationSet

#10620 Deleted Credit du Nord and add to SG
  data/brands/amenity/bank.json
Labels: fix data

#10702 amenity/bicycle_rental: Nibelungen Bike rebranded to VELOLEO
  data/brands/amenity/bicycle_rental.json
Labels: fix data

#10680 Change Total/Total Access to TotalEnergies for convenience and kiosk shops
  data/brands/shop/convenience.json
  data/brands/shop/kiosk.json
Labels: fix data

#10773 Change the Wikidata item for A+ Glass
  data/brands/shop/car_repair.json
Labels: fix data

#10676 [shop/clothes] add JAM Clothing
  data/brands/shop/clothes.json
Labels: needs research, add brand

#10683 Include Rio de Janeiro Prefecture as school and kindergarten operator
  data/operators/amenity/clinic.json
  data/operators/amenity/kindergarten.json
  data/operators/amenity/school.json
Labels: fix data, add operator

#10768 [amenity/restaurant] add Arabiata Restaurants to the restaurants bra…
  data/brands/amenity/restaurant.json
Labels: add brand

#10628 add man_made=reservoir_covered operator from office=water_utility
  data/operators/man_made/reservoir_covered.json
Labels: new category, add operator

#10135 [shop/convenience] add Lukoil
  data/brands/shop/convenience.json
Labels: fix data

#10657 fix wrong suggestion
  data/brands/amenity/parcel_locker.json
Labels: fix data

#10834 Fix "France Travail" vs "Pôle Emploi"
  data/brands/office/employment_agency.json
  data/brands/office/government.json
Labels: tagging
