Repository osmlab/name-suggestion-index, pull requests merged in 2025-02, with the labels that each got.

#10416 remove Barbeques Galore from shop=outdoor to shop=bbq
  data/brands/shop/bbq.json
  data/brands/shop/outdoor.json
Labels: fix data, new category

#10393 Add Bayne's the Family Bakers
  data/brands/shop/bakery.json
Labels: add brand

#10394 Add One-O-One stores
  data/brands/shop/convenience.json
Labels: add brand

#10439 [amenity/fuel][shop/gas] add Aygaz (TR)
  data/brands/amenity/fuel.json
  data/brands/shop/gas.json
Labels: add brand

#10441 [brand/amenity/cafe] add Özsüt (TR)
  data/brands/amenity/cafe.json
Labels: add brand

#10454 [brand/shop/furniture] add Shatura
  data/brands/shop/furniture.json
Labels: add brand

#10453 [brands/shop/convenience][vkusvill] add english names and matchtags
  data/brands/shop/convenience.json
Labels: tagging

#10495 Separate Sheraton for CN, HK, MO, and TW
  data/brands/tourism/hotel.json
Labels: locationSet

#10473 Add Djak sport
  data/brands/shop/clothes.json
Labels: add brand

#10500 Add Dunav osiguranje
  data/brands/office/insurance.json
Labels: add brand

#10492 Add two fast food chain
  data/brands/amenity/fast_food.json
Labels: add brand

#10487 Added SIM to fuel and convenience
  data/brands/amenity/fuel.json
  data/brands/shop/convenience.json
Labels: add brand

#10335 Deleted Total Access
  data/brands/amenity/fuel.json
Labels: fix data

#10345 Deleted Punto Simply and Simply Market Entries
  data/brands/shop/supermarket.json
Labels: fix data

#10525 add restaurant/fast food brands
  data/brands/amenity/fast_food.json
  data/brands/amenity/restaurant.json
Labels: add brand

#10523 remove duplicate entry for sigo bike sharing
  data/brands/amenity/bicycle_rental.json
Labels: fix data

#10499 Added some Israel chains
  data/brands/amenity/fast_food.json
  data/brands/shop/convenience.json
  data/brands/shop/cosmetics.json
  data/brands/shop/electronics.json
  data/brands/shop/mobile_phone.json
  data/brands/shop/supermarket.json
Labels: add brand, fix data

#10251 Correct entry for PubliBike network "Velo Bern"
  data/brands/amenity/bicycle_rental.json
Labels: fix data

#10474 Updated Cepsa to Moeve
  data/brands/amenity/fuel.json
Labels: fix data

#10502 Change brand of payment terminals by Oppa
  data/brands/amenity/payment_terminal.json
Labels: fix data

#10552 Update Zegna
  data/brands/shop/clothes.json
Labels: fix data

#10511 Expand countries of Insomnia Cookies
  data/brands/shop/pastry.json
Labels: needs research, locationSet

#10572 Add Golden Goose
  data/brands/shop/shoes.json
Labels: needs research, add brand

#10571 [amenity/cafe] add Malaysia to Boost Juice
  data/brands/amenity/cafe.json
Labels: locationSet

#10326 Adding "Manolo Bakes" and "Pastelería Artesanal Manolo" Spanish cafes
  data/brands/amenity/cafe.json
Labels: add brand

#10546 [amenity/bank] add Volksbank Niederösterreich
  data/brands/amenity/bank.json
Labels: needs research, add brand

#10529 Fix ESLint after v9 upgrade; enforce in CI
  .eslintrc
  .github/workflows/test.yml
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/build_features.js
  scripts/build_index.js
  scripts/build_wikidata.js
  scripts/dist_files.js
Labels: dependencies, javascript

#10607 Add Wine Rack (UK) and clarify the name of the Canadian one
  data/brands/shop/wine.json
Labels: add brand

#10565 Change Humana to second-hand clothes shop.
  data/brands/shop/charity.json
  data/brands/shop/clothes.json
Labels: fix data

#10346 Deleted Michelin and Pirelli
  data/brands/shop/tyres.json
Labels: needs research, fix data

#10508 Update Djak sport
  data/brands/shop/clothes.json
Labels: locationSet, tagging

#10618 Remove Coles Express fuel
  data/brands/amenity/fuel.json
  data/brands/shop/convenience.json
Labels: fix data

#10610 Add Black Sheep Coffee UAE
  data/brands/amenity/cafe.json
Labels: locationSet

#10623 Update locationSet on Simpo
  data/brands/shop/furniture.json
Labels: locationSet
