Repository osmlab/name-suggestion-index, pull requests merged in 2025-04, with the labels that each got.

#10778 Update bank.json adding Compass in the category bank in Italy
  data/brands/amenity/bank.json
Labels: needs research, add brand

#10850 Add Nacex franchises
  data/brands/amenity/post_depot.json
Labels: add brand

#10851 [amenity/bicycle_rental] add CapMetro Bikeshare, feature for Austin, TX
  data/brands/amenity/bicycle_rental.json
  data/operators/amenity/charging_station.json
  data/operators/amenity/drinking_water.json
  data/operators/amenity/library.json
  data/operators/leisure/park.json
  data/operators/power/generator.json
  data/operators/power/line.json
  data/operators/route/power.json
  dist/featureCollection.json
  features/us/README.md
  features/us/US-TX-Austin.geojson
Labels: locationSet, add brand

#10719 [shop/electronics] add brand RED ZAC for AT
  data/brands/shop/electronics.json
Labels: needs research, add brand

#10855 remove parcel_mail_in and parcel_pickup
  data/brands/amenity/parcel_locker.json
Labels: tagging, needs discussion

#10803 [shop/hairdresser] change name/brand values of First Choice Haircutters
  data/brands/shop/hairdresser.json
Labels: fix data

#10787 [amenity/post_office] add Purolator
  data/brands/amenity/post_office.json
Labels: needs research, add brand

#10468 Update Quebec brands & operators
  data/operators/highway/street_lamp.json
  data/operators/route/railway.json
Labels: fix data, add operator

#10685 Add forthcoming locations for hotel brand lyf
  data/brands/tourism/hotel.json
Labels: locationSet

#10798 [shop/variety_store] add The Bargain! Shop
  data/brands/shop/variety_store.json
Labels: add brand, needs discussion

#10875 Add METRO GASTRO
  data/brands/shop/wholesale.json
Labels: add brand, tagging

#10664 Move Carrefour City/Contact/Market from supermarket.json to convenience.json
  data/brands/shop/convenience.json
  data/brands/shop/supermarket.json
Labels: locationSet, tagging

#10867 fix(totalenergies): exclude specific countries from locationSet
  data/brands/shop/convenience.json
Labels: locationSet

#10880 Added Ametller Origen
  data/brands/shop/supermarket.json
Labels: add brand

#10870 Add RNV Transit Ticket vending machines in Germany
  data/operators/amenity/vending_machine.json
Labels: add operator

#10878 Add RD Electronics
  data/brands/shop/electronics.json
Labels: needs research, add brand

#10885 Adding/updated hostels associated with Hostelling International
  data/brands/tourism/hostel.json
Labels: add brand, tagging, fix data

#10881 Add One NZ, A New Zealand cell phone company
  data/brands/shop/mobile_phone.json
Labels: add brand

#10904 Add Sézane
  data/brands/shop/clothes.json
Labels: needs research, locationSet, add brand

#10901 Please extend locationset for Electra charging stations with BE and NL
  data/operators/amenity/charging_station.json
Labels: locationSet

#10906 adding several East Texas chains
  data/brands/amenity/bank.json
  data/brands/amenity/restaurant.json
  data/brands/shop/caravan.json
  data/brands/shop/convenience.json
Labels: multiple companies, add brand

#10910 Update bank.json
  data/brands/amenity/bank.json
Labels: add brand

#10920 [operators/man_made/surveillance] add France to main McDonalds entry
  data/operators/man_made/surveillance.json
Labels: locationSet, tagging
