Repository osmlab/name-suggestion-index, pull requests merged in 2025-06, with the labels that each got.

#11013 Spain rail transport: New services and names
  data/transit/route/train.json
Labels: add transit

#11031 Add Chestertons
  data/brands/office/estate_agent.json
Labels: add brand

#11034 Add Lina Stores
  data/brands/amenity/restaurant.json
Labels: add brand

#11036 Charging_station cleanup
  data/brands/amenity/charging_station.json
  data/operators/amenity/charging_station.json
Labels: multiple companies, tagging, fix data

#10975 Add Orange City Fire Dept
  data/operators/amenity/fire_station.json
Labels: add operator

#11039 Add Palace Inn a chain of motels in Texas
  data/brands/tourism/motel.json
Labels: add brand, tagging

#10399 Update PL Bank BPS
  data/brands/amenity/bank.json
Labels: fix data
