Repository osmlab/name-suggestion-index, pull requests merged in 2025-01, with the labels that each got.

#10288 exclude two Aldi Nord branches
  features/de/aldi-sued.geojson
Labels: fix data

#10235 Sync with GE preset
  data/brands/amenity/bank.json
  data/brands/amenity/bicycle_rental.json
  data/brands/amenity/cafe.json
  data/brands/amenity/cinema.json
  data/brands/amenity/fast_food.json
  data/brands/amenity/fuel.json
  data/brands/amenity/ice_cream.json
  data/brands/amenity/parcel_locker.json
  data/brands/amenity/payment_terminal.json
  data/brands/amenity/pharmacy.json
  data/brands/healthcare/sample_collection.json
  data/brands/office/insurance.json
  data/brands/office/telecommunication.json
  data/brands/shop/alcohol.json
  data/brands/shop/books.json
  data/brands/shop/butcher.json
  data/brands/shop/chemist.json
  data/brands/shop/clothes.json
  data/brands/shop/coffee.json
  data/brands/shop/convenience.json
  data/brands/shop/cosmetics.json
  data/brands/shop/deli.json
  data/brands/shop/doityourself.json
  data/brands/shop/electronics.json
  data/brands/shop/games.json
  data/brands/shop/household_linen.json
  data/brands/shop/houseware.json
  data/brands/shop/optician.json
  data/brands/shop/pastry.json
  data/brands/shop/pet.json
  data/brands/shop/shoes.json
  data/brands/shop/supermarket.json
  data/brands/shop/toys.json
  data/brands/shop/wholesale.json
  data/operators/office/energy_supplier.json
  data/operators/office/government.json
Labels: tagging

#10289 Add Yettel banka
  data/brands/amenity/bank.json
Labels: fix data

#10264 Update supermarket.json
  data/brands/shop/supermarket.json
Labels: add brand, fix data

#10305 Update convenience.json
  data/brands/shop/convenience.json
  data/brands/shop/supermarket.json
Labels: fix data

#10318 Add Holy See flag
  data/flags/man_made/flagpole.json
Labels: add flag

#10321 Ben Sherman clothes shop brand
  data/brands/shop/clothes.json
Labels: add brand

#10310 Delete Total brand fuel station entry
  data/brands/amenity/fuel.json
Labels: fix data

#10320 Added GrandVision Italian optician
  data/brands/shop/optician.json
Labels: add brand

#10317 Delete Accor
  data/brands/tourism/hotel.json
Labels: fix data

#10238 Add "Era Immobilier" for France
  data/brands/office/estate_agent.json
Labels: needs research, add brand

#10319 Add Connect Transit bus route suggestion in Central Illinois
  data/transit/route/bus.json
Labels: add transit

#10328 add preserveTags to nsi-id-presets.json
  scripts/dist_files.js
Labels: javascript

#10352 Add PH to Starbucks Reserve location set
  data/brands/amenity/cafe.json
Labels: locationSet

#10364 Correct country for Casetify
  data/brands/shop/mobile_phone_accessories.json
Labels: locationSet

#10311 Add Taiwanese brands (新增臺灣的品牌): 日藥本舖, 六扇門, ecoco
  data/brands/amenity/recycling.json
  data/brands/amenity/restaurant.json
  data/brands/shop/chemist.json
Labels: add brand

#10350 Update department_store.json
  data/brands/shop/department_store.json
Labels: locationSet

#10341 Delete Banca Popolare di Novara/Verona to Banco BPM
  data/brands/amenity/bank.json
Labels: fix data

#10334 Update substation.json
  data/operators/power/substation.json
Labels: fix data

#10344 Added Credito Artigiano/Valtellinese to Crédit Agricole Italia
  data/brands/amenity/bank.json
Labels: fix data

#10343 Update Civibank names to correct legal name
  data/brands/amenity/bank.json
Labels: fix data

#10383 Add Gigi's Cupcakes
  data/brands/shop/pastry.json
Labels: add brand

#10376 Add TWG Tea
  data/brands/shop/tea.json
Labels: add brand

#10375 Support Threads as the social links
  app/src/CategoryRowSocialLinks.jsx
  scripts/build_wikidata.js
Labels: enhancement, nsi.guide, javascript

#10377 Change to use `operator` for bookstores in HK
  data/brands/shop/books.json
Labels: fix data

#10384 Update park.json
  data/operators/leisure/park.json
Labels: add operator

#10390 link Q21100245 (Anicura) for Anicura entry, not Q110299350 (Animates)
  data/brands/amenity/veterinary.json
Labels: fix data

#10389 link shop brand, not entire religious order
  data/brands/shop/charity.json
Labels: fix data

#10386 Add Amegy Bank
  data/brands/amenity/bank.json
Labels: add brand

#10342 Add to Intesa Sanpaolo match names from dissolved italy banks
  data/brands/amenity/bank.json
Labels: fix data

#10409 Add N Sport #10354
  data/brands/shop/clothes.json
Labels: add brand

#10406 Add Brunei, the Philippines and Singapore as ZUS Coffee branch locations
  data/brands/amenity/cafe.json
Labels: locationSet

#10422 Update optician.json
  data/brands/shop/optician.json
Labels: add brand

#10413 Amend BIM Stores
  data/brands/shop/convenience.json
Labels: locationSet

#10415 Added Wikidata item for InCoop and moved from supermarket to convenience
  data/brands/shop/convenience.json
  data/brands/shop/supermarket.json
Labels: fix data

#10314 Add Designer Sofas (GB/IE)
  data/brands/shop/furniture.json
Labels: add brand

#10178 Copy Despar to `shop=convenience` with an extended `locationSet`; unify Spar `brand`s
  data/brands/shop/convenience.json
  data/brands/shop/supermarket.json
Labels: add brand

#10428 add Transgourmet
  data/brands/shop/wholesale.json
Labels: add brand
