Repository osmlab/name-suggestion-index, pull requests merged in 2025-07, with the labels that each got.

#11125 Added British Columbia car repair chain
  data/brands/shop/car_repair.json
Labels: add brand

#10992 [man_made/wastewater_plant] add England to Welsh Water locationSet
  data/operators/man_made/wastewater_plant.json
Labels: locationSet

#11123 Added American bike shop chain
  data/brands/shop/bicycle.json
Labels: add brand

#11098 Added optician Bailey Nelson
  data/brands/shop/optician.json
Labels: add brand

#11133 Switzerland: Add Blackout clothing store chain
  data/brands/shop/clothes.json
Labels: add brand

#11138 More Best Western/BWH brands
  data/brands/tourism/hotel.json
Labels: multiple companies, add brand

#11040 update scouting brand names
  data/brands/club/scout.json
Labels: fix data

#11145 Add "Full lineup Value" vending machine brand
  data/brands/amenity/vending_machine.json
Labels: needs research, check local

#11099 Add swimming pools and community centers for City of Houston
  data/operators/amenity/community_centre.json
Labels: tagging, new category, add operator

#11131 Add Fluevog Shoes to shoes.json
  data/brands/shop/shoes.json
Labels: add brand
